@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Pixelify Sans", sans-serif;
}

body {
    color: aliceblue;
    background: #2B2B2B;
}

header {
    margin-bottom: 150px;
}

header nav {
    display: flex;
/*    align-items: center;*/
    justify-content: space-between;
    padding: 15px 20px;
}

.reset-btn {
    padding: 10px 20px;
    background: white;
}

.reset-btn button, .submit-btn {
    border: none;
    background: none;
    color: #2B2B2B;
    font-size: 30px;
    font-weight: bold;
}

.instruction {
    font-size: 22px;
}

header h1 {
    font-size: 70px;
    text-align: center;
}

hr {
    height: 10px;
    border: none;
    background: white;
}

.icn-box {
    padding: 20px;
    width: 100px;
    font-size: 80px;
    font-weight: bold;
    position: relative;
    top: -80px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #2B2B2B;
    background: white;
}

.input-table {
    display: flex;
    gap: 150px;
    justify-content: center;
}

#input-box-form {
    display: flex;
    gap: 25px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.submit-btn {
    width: 150px;
    background: white;
    padding: 10px 10px;
}

.ip-box {
    width: 180px;
    outline: none;
    color: white;
    font-size: 25px;
    padding: 25px 10px;
    background: #2b2b2b;
    border: 4px solid white;
}

.score {
    display: flex;
    font-size: 32px;
    flex-direction: column;
}

.l1 {
    margin-bottom: 40px;
}

.l2 {
    margin-bottom: 10px;
}

.l2, .l3 {
    font-size: 25px !important;
}


@media screen and (max-width: 768px) {
    .input-table {
        gap: 80px;
        flex-direction: column;
    }
    .score {
        align-items: center;
    }
    .reset-btn button {
        font-size: 22px;
    }
    .instruction {
        font-size: 20px;
    }
    header {
        margin-bottom: 91px;
    }
    header h1 {
        font-size: 60px;
    }
    header nav {
        align-items: center;
    }
    .icn-box {
        top: -65px;
        padding: 10px;
        font-size: 70px;
    }
    .ip-box {
        width: 150px;
        padding: 20px 12px;
    }
  }